@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

body{
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.button{
  position: relative;
  display: block;
  border: none;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.button::before{
  position: absolute;
  z-index: -1;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  content: "";
}

.container{
  width: 1160px;
  margin: 0 auto;
}

/* ---- header ---- */

.header{
  position: relative;
  height: 300px;
  margin-top: 40px;
  background-color: #f7e296;
}

.inner-header{
  height: 190px;
}

.header .logo{
  position: absolute;
  top: -18px;
  margin-left: 58px;
}

.header nav{
  padding-top: 45px;
}

.header .header-wrapper{
  display: flex;
  width: 1045px;
  margin: 0 auto;
  padding-bottom: 37px;
}

.header ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.header a{
  color: #000000;
}

.header a:hover{
  opacity: 0.6;
}

.header a:active{
  opacity: 0.3;
}

.header form.search{
  position: relative;
  margin-left: 3px;
}

.search input[type="search"]{
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;

  padding-left: 36px;
  border: 0;
  background-color: transparent;
  background: url("../img/search.svg") no-repeat 0 center;

  opacity: 0.3;
}

.search input[type="search"]:hover{
  opacity: 0.6;
}

.search input[type="search"]:focus {
  outline: 0;
  opacity: 1;
  border-bottom: 2px solid #000000;
  margin-bottom: -2px;
}

.search button[type="submit"]{
  position: absolute;
  top: 11px;

  display: none;

  background-color: transparent;
  border: 2px solid #000000;
}

.search input[type="search"]:focus + button{
  display: inline-block;
}

.search button[type="submit"]:hover,
.search button[type="submit"]:focus{
  display: inline-block;
  outline: 0;
  background-color: #000000;
  color: #ffffff;

  margin-bottom: -2px;
}

.search button[type="submit"]:active{
  color: #434343;
}

.header ul.user-navigation{
  margin-left: 344px;
  padding-left: 0;
}

.inner-header ul.user-navigation{
  width: 230px;
}

.user-navigation .user-login-link{
  padding-left: 26px;
  background: url("../img/user.svg") no-repeat 0 center;
}

.header ul.basket-navigation{
  margin-left: 215px;
  padding-left: 0;
}

ul.basket-navigation li{
  margin-right: 43px;
}

.basket-navigation .comparison-link{
  padding-left: 20px;
  background: url("../img/compare.svg") no-repeat 0 center;
  letter-spacing: 0.16;
}

.basket-navigation .basket-link{
  padding-left: 23px;
  background: url("../img/cart.svg") no-repeat 0 center;
  letter-spacing: 0.14;
}

.header .site-navigation{
  line-height: 0;
  padding: 0;
}

.site-navigation > li:first-child{
  margin-right: 291px;
}

.site-navigation > li:nth-child(2){
  margin-right: 35px;
}

.site-navigation > li:last-child{
  margin-left: 109px;
  margin-right: 0;
}

.site-navigation a{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation .catalog-link{
  position: relative;
  padding-right: 29px;
  background: url("../img/plus.svg") no-repeat right center;
}

.site-navigation .drop-menu{
  display: none;
  flex-wrap: wrap;

  position: absolute;
  padding: 0;
  padding-top: 22px;
  margin-top: -1px;
  width: 1080px;
  height: 163px;
  z-index: 3;

  background-color: #f7e296;
}

.drop-menu .drop-menu-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-right: 59px;
}

.drop-menu .drop-menu-column:last-child{
  padding-left: 16px;
}

.drop-menu a{
  margin: 0;

  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #000000;
  text-transform: none;
}

.site-navigation .drop-menu:hover{
  display: flex;
}

.catalog-link:hover + .drop-menu{
  display: flex;
}

.user-navigation a,
.basket-navigation a{
  letter-spacing: 0.15px;
}

.header .exit-link{
  opacity: 0.3;
}

/* ---- slider ---- */

.slider-popular{
  position: relative;
  margin-top: -110px;
  margin-bottom: 110px;
}

.slider-popular-item{
  display: none;
}

.slider-popular-item.active{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.slider-popular-item img{
  z-index: 1;
  padding-left: 25px;
}

.slider-popular-item .item-content{
  position: relative;

  width: 510px;
  height: 486px;
}

.slider-popular .slide-number{
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 1;

  font-family: Gilroy;
  font-weight: 700;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.slider-popular h3{
  position: relative;
  margin-top: 77px;
  margin-bottom: 20px;
  z-index: 2;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.7px;
  color: #000000;
}

.slider-popular p{
  margin-bottom: 50px;

  letter-spacing: 0.15px;
  color: #464646;
}

.slider-popular-item dl{
  display: flex;
  margin-top: 50px;
}

.slider-popular dt{
  margin-right: 65px;

  font-family: Gilroy;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider-popular dd{
  margin: 0;
  margin-top: 10px;

  color: #464646;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.slider-popular-navigation{
  position: absolute;
  bottom: 145px;
  right: 70px;
}
/* ---- popular category ---- */

.popular-category ul{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 190px;
  padding: 0;

  list-style: none;
}

.popular-category li{
  width: 160px;
  height: 240px;
  margin-right: 30px;
}

.popular-category p{
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.popular-category-link:active p{
  opacity: 0.3;
}

/* ---- services ---- */

.slider-services-background{
  height: 290px;
  background-color: #e5e5e5;
}

.slider-services{
  display: flex;
}

.slider-services-navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: -90px;
  width: 280px;
  min-height: 320px;

  border-right: 7px solid #000000;
}

.slider-services-navigation button{
  background-color: transparent;
  margin-bottom: 30px;
}

.slider-services-navigation button:active{
  background-color: #000000;
  color: #f7e184;
}

.slider-services-navigation button.active{
  background-color: #000000;
  color: #f7e184;
}

.slide-services-items{
  margin-top: -80px;
  margin-left: 115px;
}

.slider-services .slider-services-item{
  display: none;
}

.slider-services .slider-services-item.active{
  display: block;
  width: 430px;
}

.slider-services-item h3{
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.208444px;
}

.slider-services-item p{
  letter-spacing: 0.15px;
  color: #464646;
}

.slider-services .button{
  line-height: 24px;
}

/* ---- partners ---- */

.partners{
  margin-top: 100px;
  margin-bottom: 100px;
}

.partners ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.partners li{
  margin-right: 20px;
}

.partners .partners-link{
  display: block;
  width: 260px;
  height: 100px;
}

.partners .partner-logo{
  opacity: 0.2;
  filter: url(#svg-grayscale);
}

.partners .partner-logo:hover{
  opacity: 1;
  filter: none;
}

/* ---- info ---- */

.main-wrapper{
  display: flex;
  justify-content: space-between;

  margin-bottom: 95px;
}

.main-wrapper .info{
  width: 475px;
}

.main-wrapper .info-map{
  width: 580px;
}

.main-wrapper h2{
  position: relative;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.info h2::before{
  display: block;
  position: absolute;
  width: 80px;
  height: 7px;

  top: -50px;

  background-color: #000000;
  content: "";
}

.main-wrapper p{
  color: #464646;
}

.info .delivery-list{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  list-style: none;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 60px;
}

.delivery-list li{
  position: relative;
  padding-left: 35px;
}

.delivery-list li::before{
  display: block;
  position: absolute;
  top: 40%;
  left: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
  content: "";
}

.info a.button::before{
  left: -20px;
  top: 7px;
}

.info a.button:hover::before{
  height: 40px;
  top: -9px;
}

.info-map .map-link{
  display: block;
  margin-top: 25px;
  margin-bottom: 70px;
  background: none;
}

.info-map h2::before{
  display: block;
  position: absolute;
  width: 80px;
  height: 7px;

  top: -50px;

  background-color: #000000;
  content: "";
}

.info-map a.button{
  padding-left: 40px;
}

.info-map a.button::before{
  left: 0px;
  top: 7px;
}

.info-map a.button:hover::before{
  height: 40px;
  top: -9px;
}

/* ---- footer ---- */

.footer{
  padding-top: 65px;
  padding-bottom: 65px;

  background-color: #464646;
  color: #ffffff;
}

.footer .footer-logo{
  fill: #ffc600;
}

.footer a:hover{
  opacity: 0.6;
}

.footer a:active{
  opacity: 0.3;
}

.footer a{
  color: #ffffff;
}

.footer ul{
  list-style: none;
}

.footer-user-navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 50px;

  line-height: 36px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

.footer-user-navigation .login-link{
  padding-left: 27px;
  background: url("../img/user-yellow.svg") no-repeat 0 center;
}

.footer-user-navigation .comparison-link{
  padding-left: 22px;
  background: url("../img/compare-yellow.svg") no-repeat 0 center;
}

.footer-user-navigation .basket-link{
  padding-left: 22px;
  background: url("../img/cart-yellow.svg") no-repeat 0 center;
}

.footer-user-navigation .footer-basket-navigation{
  width: 215px;
  padding: 0;
}

.user-navigation-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navigation-wrapper ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
}

.footer-user-navigation li{
  margin-right: 5px;
}

.logined-user li{
  margin-left: 20px;
}

.footer-site-navigation{
  display: flex;
  justify-content: space-between;

  margin-bottom: 70px;
}

.footer-site-navigation ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 430px;
  margin: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.footer-site-navigation a{
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-site-navigation address{
  font-style: normal;
}

.footer-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social .social-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
}

.social-links a{
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 25px;
  border-radius: 50%;

  background-color: #7e7e7e;
  opacity: 0.3;
}

.social-links a.facebook-link{
  background: url("../img/fb.svg") no-repeat center center;
}

.social-links a.instagram-link{
  background: url("../img/instagram.svg") no-repeat center center;
}

.social-links a.twitter-link{
  background: url("../img/twitter.svg") no-repeat center center;
}

.footer-social .devoration-line{
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

/* ---- modals ---- */
.modal-write-us{
  display: none;
}

.modal-map{
  display: none;
}

/* ---- catalog page ---- */

/* ---- header ---- */

header.inner-header{
  height: 190px;
}

.inner-header nav{
  padding-top: 43px;
}

.inner-header .logo{
  width: 163px;
  height: 35px;
}

.inner-header .drop-menu{
  width: 1160px;
  left: 0;
  padding-left: 50px;
}

.inner-header ul.user-navigation{
  margin-left: 338px;
  width: auto;
}

.user-navigation .user-login-link{
  margin-right: 20px;
}

.inner-header ul.basket-navigation{
  margin-left: 20px;
}

.inner-header .basket-link{
  margin-right: 0;
}

/* ---- Main page ---- */

.catalog .title-wrapper{
  padding-left: 60px;
  margin-bottom: 50px;
}

.catalog h1{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.91px;
}

.catalog .breadcrumb{
  display: flex;

  list-style: none;
  padding: 0;

  font-size: 14px;
  line-height: 24px;

}

.breadcrumb li{
  margin-right: 20px;
  padding-right: 20px;
  background: url("../img/nav-arrow.svg") no-repeat right center;
}

.breadcrumb li:last-child{
  padding-right: 0;
  background: none;
}

.breadcrumb a{
  letter-spacing: 0.14px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumb a:hover{
  opacity: 1;
}

.breadcrumb a:active{
  opacity: 0.1;
}

.main-wrap{
  display: flex;
}

/* ---- Filter ---- */

.filter{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 33.5%;
  background-color: #efefef;
}

.filter form{
  width: 270px;
  margin-top: 70px;
}

.filter label{
  font-size: 14px;
  line-height: 39px;
  letter-spacing: 0.14px;
}

.filter fieldset{
  position: relative;
  border: none;
  padding: 0;
  margin-bottom: 60px;
}

.filter .bordered-top::before{
  display: block;
  position: absolute;
  width: 200px;
  height: 2px;
  top: -15px;
  background-color: #000000;
  content: "";
}

.filter legend{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter ul{
  list-style: none;
  padding: 0;
}

.color-list input[type="checkbox"]{
  display: none;
}

.color-list label{
  display: block;
  height: 23px;
  padding-left: 40px;
  margin-bottom: 20px;
  background: url("../img/checkbox-off.svg") no-repeat left center;

  line-height: 23px;
}

input[type="checkbox"]:checked + label.color-list-label{
  background: url("../img/checkbox-on.svg") no-repeat left center;
}

.bluetooth-choice input[type="radio"]{
  display: none;
}

.bluetooth-choice label{
  display: block;
  height: 25px;
  padding-left: 40px;
  margin-bottom: 20px;
  background: url("../img/radio-off.svg") no-repeat left center;

  line-height: 25px;
}

input[type="radio"]:checked + label.bluetooth-choice-label{
  background: url("../img/radio-on.svg") no-repeat left center;
}

.filter button[type="submit"]::before{
  width: 200px;
  z-index: 0;
}

.inner-wrap{
  width: 66.5%;
}

.catalog-items ul{
  list-style: none;
}

/* ---- Sort ---- */

.sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-box{
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 70px;
}

.main-box .filter-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;
}

.main-box .filter-box h2{
  width: 270px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.main-box .filter-box{
  width: 33.5%;
  height: 70px;
  background-color: #dcdcdc;
  margin: 0;
}

.main-box .sort-box{
  width: 66.5%;
  height: 70px;
  margin: 0;
  background-color: #ebebeb;
  line-height: 70px;
}
.main-box .sort{
  width: 760px;

  margin-left: 70px;
}

.sort .sort-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort h2{
  display: block;
  margin: 0;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.sort button{
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.sort button.active{
  opacity: 1;
}

/* ---- Items list ---- */

.catalog-items .item-title{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;

  width: 256px;
}

.catalog-items .item-price{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.items-list .item{
  position: relative;
}

.item:hover > img{
  opacity: 0.7;
}

.catalog-items .to-basket{
  display: none;
  position: absolute;
  top: 40%;
  left: 35%;
}

.catalog-items .to-basket:hover{
  display: inline-block;
}

.catalog-items .to-basket:active{
  color: #be9c22;
}

.catalog-items .to-comparison{
  display: none;
  position: absolute;
  top: 48%;
  left: 30%;

  font-size: 13px;
  opacity: 0.5;
}

.catalog-items .to-comparison:hover{
  display: inline-block;
  opacity: 1;
}

.catalog-items .to-comparison:active{
  opacity: 0.2;
}

.catalog-items img:hover ~ .to-basket,
.catalog-items img:hover ~ .to-comparison{
  display: inline-block;
}

.catalog-items .items-list{
  display: flex;
  flex-wrap: wrap;

  margin: 70px 0 0 70px;
}

.catalog-items ul{
  padding: 0;
}

.items-list li{
  width: 360px;
  height: 470px;
  margin: 0 40px 40px 0;
  padding: 0;
}

.items-list .item-description{
  display: flex;
  justify-content: space-between;
}

.catalog-navigation{
  width: 760px;
  height: 70px;
  margin-left: 80px;
  margin-bottom: 80px;
  padding: 0 30px;
  line-height: 70px;

  background-color: #ebebeb;
}

.catalog-navigation .catalog-navigation-wrap{
  display: flex;
  justify-content: space-between;

  padding: 0;
}

.catalog-navigation .inner-catalog-navigation{
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-catalog-navigation li{
  margin-right: 20px;
}

.catalog-navigation a{
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.catalog-navigation a.inactive{
  opacity: 0.3;
}

.catalog-navigation a.transition-direction{
  display: block;
  height: 70px;
  line-height: 70px;
}

.catalog-navigation a.transition-direction:hover{
  background-color: #d9d9d9;
}

.catalog-navigation a.transition-direction:active{
  background-color: #d9d9d9;
  color: #acacac;
}

.catalog-navigation a.page-number:hover{
  opacity: 0.6;
}

.catalog-navigation a.page-number:active{
  opacity: 1;
}
